<div class="w3-agile-chat">
    <div class="charts">
        <div class="col-md-6 w3layouts-char">
            <div class="charts-grids widget">
                <h4 class="title">Temperature</h4>
                <canvas id="food01-t1" class="graph"> </canvas>
            </div>
        </div>
        <div class="col-md-6 w3layouts-char">
            <div class="charts-grids widget">
                <h4 class="title">Humedity</h4>
                <canvas id="food01-h1" class="graph"> </canvas>
            </div>
        </div>
        <div class="clearfix"> </div>
        <script>
        </script>

    </div>
    <div class="four-grids">
        <div class="col-md-3 four-grid">
            <div class="four-agileits">
                <div class="icon">
                    <i class="fa fa-fire" aria-hidden="true"></i>
                </div>
                <div class="four-text">
                    <h3>Max Temp. 24h</h3>
                    <h4><span id="food01-t1-meta-max">-</span>º C</h4>

                </div>

            </div>
        </div>
        <div class="col-md-3 four-grid">
            <div class="four-agileinfo">
                <div class="icon">
                    <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                </div>
                <div class="four-text">
                    <h3>Min Temp. 24h</h3>
                    <h4><span id="food01-t1-meta-min">-</span>º C</h4>

                </div>

            </div>
        </div>
        <div class="col-md-3 four-grid">
            <div class="four-wthree">
                <div class="icon">
                    <i class="fa fa-tint" aria-hidden="true"></i>
                </div>
                <div class="four-text">
                    <h3>Humidity</h3>
                    <h4><span id="food01-h1-meta-avg">-</span> %</h4>

                </div>

            </div>
        </div>
        <div class="col-md-3 four-grid">
            <div class="four-w3ls">
                <div class="icon">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
                <div class="four-text">
                    <h3><span id="food01-event-time">-</span></h3>
                    <h4><span id="food01-event-msg">-</span></h4>

                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="charts">
        <div class="col-md-6 w3layouts-char">
            <div class="charts-grids widget">
                <h2>Actions</h2>
                <ul class="bt-list">
                    <li style="display: inline-block; width: 32%;"><a href="#" onclick="food01_orderfood();" class="fa-cutlery hvr-icon-fade col-1">Order Food</a></li>
                    <li style="display: inline-block; width: 32%;"><a href="#" onclick="food01_getmemory();" class="fa-microchip hvr-icon-fade col-5">Get Memory</a></li>

                    <li style="display: block; width: 90%;">
                        <select name="food01-mem-id" id="food01-mem-id" style="padding: 0px; margin-right: 20px;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <input type="text" name="food01-mem-value" id="food01-mem-value" style="line-height: normal; margin-right: 20px;" value="">
                        <a href="#" onclick="food01_setmemory();" class="fa-microchip hvr-icon-fade col-7">Set Memory</a>
                    </li>
                    <li style="display: block; width: 90%;">
                        <input type="text" name="food01-ping-value" id="food01-ping-value" style="line-height: normal; margin-right: 20px;" value="">
                        <a href="#" onclick="food01_ping();" class="fa-wifi hvr-icon-fade col-18">Ping</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 w3layouts-char">
            <div class="charts-grids widget">
                <h2>Events</h2>
                <span id="food01-events" style="width: 90%;" ></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

