<div class="w3-agile-chat">
    <div class="charts">
        <div class="col-md-6 w3layouts-char">
            <div class="charts-grids widget">
                <h4 class="title">Temperatura</h4>
                <canvas id="food01-t1" class="graph"> </canvas>
            </div>
        </div>
        <div class="col-md-6 w3layouts-char">
            <div class="charts-grids widget">
                <h4 class="title">Humedad</h4>
                <canvas id="food01-h1" class="graph"> </canvas>
            </div>
        </div>
        <div class="clearfix"> </div>
        <script>
        </script>

    </div>
    <div class="four-grids">
        <div class="col-md-3 four-grid">
            <div class="four-agileits">
                <div class="icon">
                    <i class="fa fa-fire" aria-hidden="true"></i>
                </div>
                <div class="four-text">
                    <h3>Max Temp. 24h</h3>
                    <h4><span id="food01-t1-meta-max">-</span>º C</h4>

                </div>

            </div>
        </div>
        <div class="col-md-3 four-grid">
            <div class="four-agileinfo">
                <div class="icon">
                    <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                </div>
                <div class="four-text">
                    <h3>Min Temp. 24h</h3>
                    <h4><span id="food01-t1-meta-min">-</span>º C</h4>

                </div>

            </div>
        </div>
        <div class="col-md-3 four-grid">
            <div class="four-wthree">
                <div class="icon">
                    <i class="fa fa-tint" aria-hidden="true"></i>
                </div>
                <div class="four-text">
                    <h3>Humidity</h3>
                    <h4><span id="food01-h1-meta-avg">-</span> %</h4>

                </div>

            </div>
        </div>
        <div class="col-md-3 four-grid">
            <div class="four-w3ls">
                <div class="icon">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                </div>
                <div class="four-text">
                    <h3>Food</h3>
                    <h4>OK</h4>

                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="four-grids">
        <div class="col-sm-12 hover-buttons">
            <div class="wrap">
                <div class="bg-effect">
                    <h2>Actions</h2>
                    <ul class="bt-list">
                        <li><a href="#" class="fa-cutlery hvr-icon-fade col-1">Food ON</a></li>
                        <li><a href="#" class="fa-cutlery hvr-icon-fade col-5">Food OFF</a></li>
                        <li><a href="#" class="fa-thermometer-half hvr-icon-fade col-7">Fan ON</a></li>
                        <li><a href="#" class="fa-thermometer-half  hvr-icon-fade col-18">Fan OFF</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
